// Started Styles

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: $normal;
    color: $black;
    line-height: normal;
    overflow-x: hidden;
}

.wrapper {
    max-width: 100vw;
    position: relative;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: $gray1;
}

svg, img, video {
    max-width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: $white;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 100px $primaryColor;
    border: 2px solid $white;
    border-radius: 20px;
}

a, button {
    display: inline-block;
    color: inherit;
    background: none;
    transition: .5s;
}

span {
    display: inline-block;
}

a:hover, button:hover {
    opacity: 0.5;
}