// Fonts Variables

$primaryFont: "Montserrat";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: #222831;

$darkBlack: #000000;

$black: #222831;
$white: #FFFFFF;

$gray1: #343D4B;
$gray2: #272E37;
$gray3: #222831;

// Container Variables

$containerWidth: 63.3125rem;
$containerPadding: 1rem;