// Fonts Variables

$primaryFont: "Montserrat";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: #222831;

$black: #222831;
$white: #FFFFFF;

$gray1: #A6A6A6;

// Container Variables

$containerWidth: 63.3125rem;
$containerPadding: 1rem;